# .coveragerc to control coverage.py
[run]
branch = True
source = pyrate
omit =
    # omit everything in
    # pyrate/tasks/*
    # omit these files
    pyrate/pyratelog.py
    pyrate/scripts/main.py
    pyrate/aps.py
    pyrate/compat.py
    *__init__*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    def __str__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise ValueError
    raise ImportError
    raise ConfigException
    raise ReferencePhaseError
    raise RefPixelError
    raise RoipacException
    raise GeotiffException
    raise RasterException
    raise IfgException

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = coverage_html_report
