language: python

python:
  - "3.7-dev"
  - "3.6"
  - "3.5"
  - "3.4"
  - "3.3"
  - "2.7"


env:
  global:
    - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
    - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
    - GDALINST=$HOME/gdalinstall
    - GDALBUILD=$HOME/gdalbuild
  matrix:
    - GDALVERSION="1.11.0"
    - GDALVERSION="1.11.1"  # nci version
    - GDALVERSION="1.11.2"
    - GDALVERSION="2.0.0"  # nci version
    - GDALVERSION="2.0.1"
    - GDALVERSION="2.1.0"

addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
    - libpng12-dev
    - libblas-dev
    - liblapack-dev
    - libatlas-dev
    - libatlas-base-dev
    - gfortran
    - libproj-dev
    - openmpi-bin
    - libopenmpi-dev


before_install:
  - pip install -U pip
  - pip install wheel
  - pip install python-daemon==2.1.1
  - . ./scripts/travis_gdal_install.sh
  - export PATH=$GDALINST/gdal-$GDALVERSION/bin:$PATH
  - export LD_LIBRARY_PATH=$GDALINST/gdal-$GDALVERSION/lib:$LD_LIBRARY_PATH

install:
  - "if [ $(gdal-config --version) == \"$GDALVERSION\" ]; then echo \"Using gdal $GDALVERSION\"; else echo \"NOT using gdal $GDALVERSION as expected; aborting\"; exit 1; fi"
  - if [[ $TRAVIS_PYTHON_VERSION == 3.3 ]]; then pip install numpy==1.10.1 matplotlib==1.5.1; fi
  - pip install -r requirements-dev.txt
  - pip install GDAL==$(gdal-config --version)
  - python setup.py install
  - export PYRATEPATH=$(pwd)
  - export PYTHONPATH=$PYRATEPATH:$PYTHONPATH
  - chmod 444 tests/test_data/sydney_test/tif/geo_070709-070813_unw.tif  # makes the file readonly, used in a test

# command to run tests, e.g. python setup.py test
script:
  - py.test --cov-report term-missing:skip-covered --cov=pyrate tests/

cache:
  - apt
  - pip
  - directories:
    - $GDALINST
    - $HOME/.cache/pip

after_success:
  - coveralls || echo "!! intermittent coveralls failure"
