GDAL
ghp-import
ipython
joblib==1.0.0
m2r2
matplotlib
mpi4py==3.0.3
networkx==2.5
nptyping==1.4.0
numexpr==2.7.2
numpy==1.19.4
pylint
pyproj==3.0.0
pytest
recommonmark
scipy==1.5.4
setuptools
sphinx
sphinx_rtd_theme
sphinxcontrib-programoutput
twine
wheel
